# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Application specifc
venv/
.venv

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

build
.eggs/
dist
phoopy.egg-info/
